django
djangorestframework
django-filter
drf-spectacular
djangorestframework-simplejwt
pillow
gunicorn
django-cors-headers
pytest-django
whitenoise
djoser
psycopg2-binary
django-log-request-id
django-celery-beat 
django-celery-results
python-decouple
redis
flower
